<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Research the stock expected move</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="static_files/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static_files/css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="static_files/images/market-image2.png" alt="">
                    <img src="static_files/images/market-image1.png" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <h2>CSV用のデータを作成します (%は前日終値比)</h2>
{% if html_json.message!='' %}
                        <div class="form-group">
                            <label><span style="color:red;">{{ html_json.message }}</span></label>
                        </div>
{% endif %}
                        <div class="form-group">
                            <label for="ticker">Ticker :</label>
                            <div class="form-select">
                                <select name="ticker" id="ticker">
                                    <option value="zm">zm (ズーム・ビデオ・コミュニケーションズ)</option>
                                    <option value="aapl">Apple (現在実装中)</option>
                                    <option value="fb">Facebook (現在実装中)</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="pass">パスコード:</label>
                                <input type="text" value="{{ html_json.pass }}" name="pass" id="pass"/>
                            </div>
                            <div class="form-group">
                                <label for="type">Type<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json.type }}" name="type" id="type" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_NQ_F">Nasdaq100Fut<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json._NQ_F }}" name="_NQ_F" id="_NQ_F" required/>
                            </div>
                            <div class="form-group">
                                <label for="_8_30">8:30<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json._8_30 }}" name="_8_30" id="_8_30" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_9_00_sq">9:00(sq)<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json._9_00_sq }}" name="_9_00_sq" id="_9_00_sq" required/>
                            </div>
                            <div class="form-group">
                                <label for="_9_00_zm">9:00(zm)<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json._9_00_zm }}" name="_9_00_zm" id="_9_00_zm" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_16_00">16:00<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json._16_00 }}" name="_16_00" id="_16_00" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="nari">成行<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.nari }}" name="nari" id="nari" required/>
                            </div>
                            <div class="form-group">
                                <label for="target_low">Target(Low)<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.target_low }}" name="target_low" id="target_low" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">基準</label>
                            <div class="form-select">
                                <select name="price" id="price">
                                    <option value="高い" {% if html_json.price=='高い' %} selected="selected"{% endif %}>高い</option>
                                    <option value="高め" {% if html_json.price=='高め' %} selected="selected"{% endif %}>高め</option>
                                    <option value="中立" {% if html_json.price=='中立' %} selected="selected"{% endif %}>中立</option>
                                    <option value="安め" {% if html_json.price=='安め' %} selected="selected"{% endif %}>安め</option>
                                    <option value="安い" {% if html_json.price=='安い' %} selected="selected"{% endif %}>安い</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="basis">Momemtum<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.basis }}" name="basis" id="basis" required/>
                            </div>
                            <div class="form-group">
                                <label for="current">16:00価格<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.current }}" name="current" id="current" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="target_high">Target(High)<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.target_high }}" name="target_high" id="target_high" required/>
                            </div>
                            <div class="form-group">
                                <label for="bottom_time">Target Time<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.bottom_time }}" name="bottom_time" id="bottom_time" required/>
                            </div>
                            <div class="form-group">
                                <label for="per100">PER100値<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.per100 }}" name="per100" id="per100" required/>
                            </div>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <label><a href="/">戻る</a></label>
                        </div>
                    </form>
                    <div>1</div>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Tickets (Chain Work) is<br>
                        1. friendly to climate change<br>
                        2. friendly to victims of war<br>
                        3. help those suffering from heat waves to earn cash income.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @gretathunberg @nippon_ukuraina @LaLigaOnFlow @moonpay @dete73 #onflow #web3 $FLOW<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Flow Blockchain consumes less eneregy than one Instagram post or one Google search.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @konotarogomame @ukrinjpn @CoinbaseCloud @ZelenskyyUa @roham #onflow #web3 $FLOW<br>
                        #DAO @kskgroup2017 @flowbc_jp @FlowFansChina<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Instead of driving around consuming energy, make some cash at home!<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @flowverse_ @flow_blockchain @coinbase @emerald_dao @BloctoApp #onflow #web3 $FLOW<br>
                        #DAO @kskgroup2017 @flowbc_jp @FlowFansChina @gretathunberg<br>
                    </p>
                    <div>2</div>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Are you reading this and still want to drive or fly to make money?<br>
                        https://www.bloomberg.com/news/features/2022-07-14/heat-waves-in-europe-show-danger-of-turning-from-climate-goals-to-coal-power<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @gretathunberg @nippon_ukuraina @LaLigaOnFlow @moonpay @dete73 #onflow #web3 $FLOW<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Tickets (Chain Work) was inspired by the need for an app that would allow the economically disadvantaged in Ukraine to start a business.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @konotarogomame @ukrinjpn @CoinbaseCloud @ZelenskyyUa @roham #onflow #web3 $FLOW<br>
                        @kskgroup2017<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        We want people who have had their work disrupted by the war in Ukraine to take advantage of this with no capital and have immediate access to funds.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @flowverse_ @flow_blockchain @coinbase @emerald_dao @BloctoApp #onflow #web3 $FLOW<br>
                        #DAO @kskgroup2017 @flowbc_jp @FlowFansChina @gretathunberg<br>
                    </p>
                    <div>3</div>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Tickets (Chain Work) is available in 18 languages, making the platform (also your tickets) more accessible to the world.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @gretathunberg @nippon_ukuraina @LaLigaOnFlow @moonpay @dete73 #onflow #web3 $FLOW<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Tickets (Chain Work) utilizes Flow Blockchain technology, which has extremely low transaction fees, known as gas fees.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @konotarogomame @ukrinjpn @CoinbaseCloud @ZelenskyyUa @roham #onflow #web3 $FLOW<br>
                        @kskgroup2017 #DAO<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Flow Blockchain is easy to implement, bug resistant, and once learned, can be applied to large scale implementations.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @flowverse_ @flow_blockchain @coinbase @emerald_dao @BloctoApp #onflow #web3 $FLOW<br>
                        #DAO @kskgroup2017 @flowbc_jp<br>
                    </p>
                    <div>4</div>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        This system will create a dedicated URL tied to the wallet address. The cost of creating that web page is about $1. Tickets are free to create and sell for life!<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @gretathunberg @LaLigaOnFlow @moonpay @dete73 #onflow #web3 $FLOW<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Tickets can be issued repeatedly as many times as you wish(It's completely free!). The ticket URL can also be used for crowdfunding.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @konotarogomame @ukrinjpn @CoinbaseCloud @ZelenskyyUa @roham #onflow #web3 $FLOW<br>
                        @kskgroup2017 #DAO<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        By simply spreading the URL through social media like Twitter, you can crowdfund and sell tickets based on the skills of you.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @flowverse_ @flow_blockchain @coinbase @emerald_dao @BloctoApp #onflow #web3 $FLOW<br>
                        @kskgroup2017 @flowbc_jp<br>
                    </p>
                    <div>5</div>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        You can earn income from all over the world. Tickets (Chain Work) has the ability to convert texts into 18 languages at once.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @gretathunberg @LaLigaOnFlow @moonpay @dete73 #onflow #web3 $FLOW<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Tickets (Chain Work) has the ability of allowing people to view tickets in their own language all over the world.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @konotarogomame @ukrinjpn @CoinbaseCloud @ZelenskyyUa @roham #onflow #web3 $FLOW<br>
                        @kskgroup2017 #DAO<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Tickets service allows you to support who you want to support.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @flowverse_ @flow_blockchain @coinbase @emerald_dao @BloctoApp #onflow #web3 $FLOW<br>
                        @kskgroup2017 @flowbc_jp #DAO @ZelenskyyUa @FlowFansChina <br>
                    </p>
                    <div>6</div>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Tickets uses Flow Blockchain which is web-based and make it accessible to everyone. Anyone can enjoy the service using the blockchain’s wallet feature.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @gretathunberg @LaLigaOnFlow @moonpay @dete73 #onflow #web3 $FLOW<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Wallets can store objects called tickets. In addition, cryptocurrencies are also stored, making it possible to buy tickets using only smartphone.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @konotarogomame @ukrinjpn @CoinbaseCloud @ZelenskyyUa @roham #onflow #web3 $FLOW<br>
                        #DAO<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        You noticed? Anyone can start a business around the world with just their charm and a smartphone.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @flowverse_ @flow_blockchain @coinbase @emerald_dao @BloctoApp #onflow #web3 $FLOW<br>
                        @kskgroup2017 @flowbc_jp #DAO <br>
                    </p>
                    <div>7</div>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        FLOW, the cryptocurrency of the Flow blockchain can be purchased from within the wallet application.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @gretathunberg @LaLigaOnFlow @moonpay @dete73 #onflow #web3 $FLOW #DAO @jacobmtucker<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        If someone you want to support in the world is very attractive, you want to support them, don’t you?<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @konotarogomame @ukrinjpn @CoinbaseCloud @ZelenskyyUa @roham #onflow #web3 $FLOW<br>
                        #DAO @kskgroup2017 @flowbc_jp <br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Tickets (Chain Work) makes it easy to issue tickets as long as you have a smartphone. You can easily sell tickets between individuals.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @flowverse_ @flow_blockchain @coinbase @emerald_dao @BloctoApp #onflow #web3 $FLOW<br>
                    </p>
                    <div>8</div>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        Tickets started as a fan service, there are only features that can be done for fans, so the tickets can not be resold.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @gretathunberg @LaLigaOnFlow @moonpay @dete73 #onflow #web3 $FLOW #DAO @flowverse_<br>
                    </p>
                    <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                        There is no one intermediary for service. Only the blockchain is the intermediary. It is managed globally and no one controls it.<br><br>
                        🌳 Eco at home Apps: chain-work.com<br><br>
                        @konotarogomame @ukrinjpn @CoinbaseCloud @ZelenskyyUa @roham #onflow #web3 $FLOW<br>
                        @jacobmtucker<br>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>