<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Research the stock expected move</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="static_files/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static_files/css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="static_files/images/market-image2.png" alt="">
                    <img src="static_files/images/market-image1.png" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <h2>CSV用のデータを作成します (%は前日終値比)</h2>
{% if html_json.message!='' %}
                        <div class="form-group">
                            <label><span style="color:red;">{{ html_json.message }}</span></label>
                        </div>
{% endif %}
                        <div class="form-group">
                            <label for="ticker">Ticker :</label>
                            <div class="form-select">
                                <select name="ticker" id="ticker">
                                    <option value="zm">zm (ズーム・ビデオ・コミュニケーションズ)</option>
                                    <option value="aapl">Apple (現在実装中)</option>
                                    <option value="fb">Facebook (現在実装中)</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="pass">パスコード:</label>
                                <input type="text" value="{{ html_json.pass }}" name="pass" id="pass"/>
                            </div>
                            <div class="form-group">
                                <label for="type">Type<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json.type }}" name="type" id="type" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_NQ_F">Nasdaq100Fut<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json._NQ_F }}" name="_NQ_F" id="_NQ_F" required/>
                            </div>
                            <div class="form-group">
                                <label for="_8_30">8:30<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json._8_30 }}" name="_8_30" id="_8_30" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_9_00_sq">9:00(sq)<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json._9_00_sq }}" name="_9_00_sq" id="_9_00_sq" required/>
                            </div>
                            <div class="form-group">
                                <label for="_9_00_zm">9:00(zm)<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json._9_00_zm }}" name="_9_00_zm" id="_9_00_zm" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_16_00">16:00<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json._16_00 }}" name="_16_00" id="_16_00" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="nari">成行<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.nari }}" name="nari" id="nari" required/>
                            </div>
                            <div class="form-group">
                                <label for="target_low">Target(Low)<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.target_low }}" name="target_low" id="target_low" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">基準</label>
                            <div class="form-select">
                                <select name="price" id="price">
                                    <option value="高い" {% if html_json.price=='高い' %} selected="selected"{% endif %}>高い</option>
                                    <option value="高め" {% if html_json.price=='高め' %} selected="selected"{% endif %}>高め</option>
                                    <option value="中立" {% if html_json.price=='中立' %} selected="selected"{% endif %}>中立</option>
                                    <option value="安め" {% if html_json.price=='安め' %} selected="selected"{% endif %}>安め</option>
                                    <option value="安い" {% if html_json.price=='安い' %} selected="selected"{% endif %}>安い</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="basis">Momemtum<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.basis }}" name="basis" id="basis" required/>
                            </div>
                            <div class="form-group">
                                <label for="current">16:00価格<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.current }}" name="current" id="current" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="target_high">Target(High)<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.target_high }}" name="target_high" id="target_high" required/>
                            </div>
                            <div class="form-group">
                                <label for="bottom_time">Target Time<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.bottom_time }}" name="bottom_time" id="bottom_time" required/>
                            </div>
                            <div class="form-group">
                                <label for="per100">PER100値<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.per100 }}" name="per100" id="per100" required/>
                            </div>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <label><a href="/">戻る</a></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>