<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Research the stock expected move</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="static_files/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static_files/css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="static_files/images/stock-img.jpg" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <h2>stock expected move research form</h2>
{% if html_json.message!='' %}
                        <div class="form-group">
                            <label><span style="color:red;">{{ html_json.message }}</span></label>
                            {% if html_json.message2!='' %}
                            <label><span style="color:red;">{{ html_json.message2 }}</span></label>
                            {% endif %}
                        </div>
{% endif %}
                        <div class="form-group">
                            <label for="ticker">Ticker :</label>
                            <div class="form-select">
                                <select name="ticker" id="ticker">
                                    <option value="zm">zm (ズーム・ビデオ・コミュニケーションズ)</option>
                                    <option value="aapl">Apple (現在実装中)</option>
                                    <option value="fb">Facebook (現在実装中)</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group" style="font-size: 11px; font-weight: normal">
                            <label style="font-size: 13px"><span>前日データ：</span></label>
                            <div style="margin-left: 20px;">
                                <span style="margin-right: 8px;">Type: <xyz style="color:red;font-size:12px;">{{ html_json.pre_type }}</xyz></span>
                                <span style="margin-right: 8px;">NQ=F: <xyz style="color:red;font-size:12px;">{{ html_json.pre_nqf }}</xyz></span>
                                <span style="margin-right: 8px;">8:30: <xyz style="color:red;font-size:12px;">{{ html_json.pre_8_30 }}</xyz></span>
                                <span style="margin-right: 8px;">9:00sq: <xyz style="color:red;font-size:12px;">{{ html_json.pre_9_00_sq }}</xyz></span>
                                <span style="margin-right: 8px;">9:00zm: <xyz style="color:red;font-size:12px;">{{ html_json.pre_9_00_zm }}</xyz></span>
                                <span style="margin-right: 8px;">16:00: <xyz style="color:red;font-size:12px;">{{ html_json.pre_16_00 }}</xyz></span>
                                <span style="margin-right: 8px;">成行: <xyz style="color:red;font-size:12px;">{{ html_json.pre_nari }}</xyz></span><br>
                                <span style="margin-right: 8px;">Target: <xyz style="color:red;font-size:12px;">{{ html_json.pre_target }}</xyz></span>
                                <span style="margin-right: 8px;">基準: <xyz style="color:red;font-size:12px;">{{ html_json.pre_basis }}</xyz></span>
                                <span style="margin-right: 8px;">Momentum: <xyz style="color:red;font-size:12px;">{{ html_json.pre_momentum }}</xyz></span><br>
                                <span style="margin-right: 8px;">Memo: <xyz style="color:red;font-size:12px;">{{ html_json.pre_memo }}</xyz></span>
                                <span style="margin-right: 8px;">PER100: <xyz style="color:red;font-size:12px;">{{ html_json.pre_per }}</xyz></span><br>
                            </div>
                            <label style="font-size: 13px"><span>昨日の予測結果：</span></label>
                            <div style="margin-left: 20px;">
                                <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                    <span>Predicted Type 予測したType <u style="color:red">　{{ html_json.predicted_type }}　</u> Actual Type 実際のType　{{ html_json.real_type }}</span><br>
                                </p>
                                <span style="margin-right: 8px;">株価動き(底値): <u style="color:red;font-size:12px;">{{ html_json.pre_low_pos }}</u> (実際の値: {{ html_json.real_low_pos }})</span><br>
                                <span style="margin-right: 8px;">株価動き(高値): <u style="color:red;font-size:12px;">{{ html_json.pre_high_pos }}</u> (実際の値: {{ html_json.real_high_pos }})</span><br>
                                <h6>Predicted bottom price 予測した安値</h6>
                                <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                    {{ html_json.pre_low_pos_output }}
                                </p>
                                <h6>Bottom line that happened in real life 現実に発生した安値</h6>
                                <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                    {{ html_json.real_low_pos_output }}
                                </p>
                                <h6>Predicted subsequent high 予測したその後の高値</h6>
                                <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                    {{ html_json.pre_high_pos_output }}
                                </p>
                                <h6>Highs that should have been predicted 予測すべきだった高値</h6>
                                <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                    {{ html_json.real_high_pos_output }}
                                </p>
                            </div>
                        {% if html_json.form_submitted == True %}
                            <label style="font-size: 13px"><span>本日{{ html_json.today_date }}の予測結果：</span></label>
                            <div style="margin-left: 20px;">
                                <span>株価動き(Type): <u style="color:red">Type{{ html_json.predicted_today_type }}</u></span><br>
                                <span style="margin-right: 8px;">株価動き(底値): <u style="color:red;font-size:12px;">{{ html_json.predicted_today_low_pos }}</u></span><br>
                                <span style="margin-right: 8px;">株価動き(高値): <u style="color:red;font-size:12px;">{{ html_json.predicted_today_high_pos }}</u></span><br>
                            </div>
                            <h3>Ticket 入力値(結果) :  {{ html_json.yesterday_date }}({{ html_json.previous_stock_value }})</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                type{{ html_json.predicted_today_type }}; ;from;{{ html_json.predicted_today_low_value }}%({{ html_json.target_stock_value_low }});to;{{ html_json.predicted_today_high_value }}%({{ html_json.target_stock_value_high }})
                            </p>
                            <h3>Ticket 入力値(Input) :  {{ html_json.yesterday_date }}({{ html_json.previous_stock_value }})</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted; overflow-wrap: anywhere;">
                                {{ html_json.model_input }}<br>
                                {{ html_json.model_input2 }}<br>
                                {{ html_json.model_input3 }}
                            </p>
                            <h3>Twitter 入力値（English夜1）</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                People suffering in Ukraine should work and earn income only with their smartphones.<br>
                                There are jobs for creatives all over the world, and with "Tickets Onchain" it is possible. tickets-onchain.com<br>
                                #ukraine<br>
                                Do you want to support Ukrainian?<br>
                                Why not using this service? It's up to you.
                            </p>
                            <h3>Twitter 入力値（English夜2）(☆マンガ忘れずに☆)</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                The AI model predicted the daily bottom of the stock price and the high from it. The result of today's forecast for zm stock.<br>
                                https://tickets-onchain.com/ti/zm/<br>
                                —-<br>
                                Crowdfunding and Tickets app collaborating your social media: tickets-onchain.com<br>
                                BUSINESS X #Blockchain<br>
                                $FLOW #onflow #web3 @moonpay<br>
                                —-<br>
                            </p>
                            <h3>Twitter 入力値（English夜3）</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                The better you are at social network, the easier it is to collect money.<br>
                                Simply by spreading the URL of our system's website, which is linked to a wallet address, on social medi, a person's strengths can be converted into tickets and sold.<br>
                                tickets-onchain.com<br>
                                #DAO #web3 $FLOW
                            </p>
                            <h3>Twitter 入力値（English朝）</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                ◆Tickets Onchain<br>
                                https://tickets-onchain.com<br>
                                Yesterday's U.S. stock (zm) price AI prediction results are below.<br>
                                https://x.gd/iZOEn<br><br>
                                —<br>
                                Tickets app collaborating your social media: <br>
                                $FLOW #onFlow #web3 #FlowBlockchain<br>
                                —
                            </p>
                            <h3>Twitter 入力値（日本語夜1）</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                ウクライナで苦しまれている方は、スマホだけで働いて収入を得てください。<br>
                                世界中にクリエイターの仕事があります。"Tickets Onchain"ならそれが可能です。tickets-onchain.com<br>
                                #ウクライナ #web3 #FlowBlockchain #副業 #DAO 英語版は@geek_geek_tで発信しています。フォロー🙇
                            </p>
                            <h3>Twitter 入力値（日本語夜2）(☆マンガ忘れずに☆)</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                AIモデルで株価の一日の底値とそこからの高値を予想しました。特に午前に変動が激しいzm株の本日の予想結果:<br>
                                https://tickets-onchain.com/ti/zm/<br>
                                —-<br>
                                Crowdfunding and Tickets app collaborating your social media: tickets-onchain.com<br>
                                BUSINESS X #Blockchain<br>
                                $FLOW #onFlow #web3 #DAO @kskgroup2017<br>
                                —-<br>
                            </p>
                            <h3>Twitter 入力値（日本語夜3）</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                【SNSが得意な人ほど簡単に集金可能】<br>
                                フォロワー数が多いほど暗号資産をダイレクトにブロックチェーン上で決済管理して収入を得られます。ウォレットアドレスに紐付けたWebサイトのURLをSNSで拡散するだけで、強みをチケットに変換して売ることができます。<br>
                                tickets-onchain.com<br>
                                #DAO #web3 $FLOW
                            </p>
                            <h3>Twitter 入力値（日本語朝）</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                ◆Tickets Onchain<br>
                                ・AIモデルの米国株底値予測<br>
                                ・好きな時にコンテンツを作成、売却できる<br>
                                ・イベント詳細情報作成<br>
                                ・9ヵ国語変換<br><br>                                
                                👇(米国株底値予測結果)<br>
                                https://x.gd/XGeOT<br><br>
                                —<br>
                                Tickets app collaborating your social media:https://tickets-onchain.com<br>
                                $FLOW #onFlow #web3<br>
                                —
                            </p>
                            <h3>Weibo 入力値（中国語夜）</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                欢迎关注我们！<br>
                                也整理了一份Flow生态上值得关注的付款方式，供每一位想要进入<br>
                                @flow_blockchain<br>
                                的商业<br>
                                —-<br>
                                Crowdfunding and Tickets app collaborating your social media: https://tickets-onchain.com<br>
                                BUSINESS X #Blockchain $FLOW #onflow #web3 #DAO #副业<br>
                                —-
                            </p>
                            <h3>Weibo 入力値（中国語朝）</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                欢迎关注我们！<br>
                                也整理了一份Flow生态上值得关注的付款方式，供每一位想要进入<br>
                                @flow_blockchain<br>
                                的商业<br>
                                —-<br>
                                Crowdfunding and Tickets app collaborating your social media: https://tickets-onchain.com<br>
                                BUSINESS X #Blockchain $FLOW #onflow #web3 #DAO #副业<br>
                                —-
                            </p>
                            <h3>LinkedIn Discord(☆マンガ忘れずに☆):</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                Web 3.0 gives individuals the means to earn money freely, but apps with low fees are still unknown.<br>
                                This can be embodied in this project.<br>
                                #DAO #web3 $FLOW<br><br>

                                The better you are at social network, the easier it is to collect money.<br>
                                The more followers you have on social network, the more you can earn money by managing your crypto assets directly on the blockchain.<br>
                                Simply by spreading the URL of our system's website, which is linked to a wallet address, on social medi, a person's strengths can be converted into tickets and sold.<br>

                                #DAO #web3 $FLOW<br><br>

                                PressRelease: https://prtimes.jp/main/action.php?run=html&page=releasedetail&company_id=104644&release_id=1&owner=1<br>
                                About us: tickets-onchain.com/about<br>
                                Email Address: info@tokyo-em-technology.org<br>
                                —-<br>
                                Crowdfunding and Tickets app collaborating your social media: tickets-onchain.com<br>
                                BUSINESS X #Blockchain<br>
                                $FLOW #onFlow #web3 #DAO #FlowBlockchain<br>
                                —-<br>
                            </p>
                            <h3>DEBUG データ</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                {{ html_json.model_input2 }}<br>
                            </p>
                        {% else %}
                            <h3>DEBUG データ</h3>
                            <p type="textarea" style="border-color: brown; border-style: dashed groove groove dotted;">
                                {{ html_json.model_input }}<br>
                            </p>
                        {% endif %}
                       </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_NQ_F">Nasdaq100Fut<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json._NQ_F }}" name="_NQ_F" id="_NQ_F" required/>
                            </div>
                            <div class="form-group">
                                <label for="_8_30">8:30<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json._8_30 }}" name="_8_30" id="_8_30" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_9_00_sq">9:00(sq)<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json._9_00_sq }}" name="_9_00_sq" id="_9_00_sq" required/>
                            </div>
                            <div class="form-group">
                                <label for="_9_00">9:00<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json._9_00 }}" name="_9_00" id="_9_00" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">基準</label>
                            <div class="form-select">
                                <select name="price" id="price">
                                    <option value="高い" {% if html_json.price=='高い' %} selected="selected"{% endif %}>高い</option>
                                    <option value="高め" {% if html_json.price=='高め' %} selected="selected"{% endif %}>高め</option>
                                    <option value="中立" {% if html_json.price=='中立' %} selected="selected"{% endif %}>中立</option>
                                    <option value="安め" {% if html_json.price=='安め' %} selected="selected"{% endif %}>安め</option>
                                    <option value="安い" {% if html_json.price=='安い' %} selected="selected"{% endif %}>安い</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="momentum">Momentum<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.momentum }}" name="momentum" id="momentum" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><span style="color:red;">※</span>入力値は日付が変わり、時間外市場が開くまで利便性の為保存されます。</label>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            {% if html_json.form_submitted == True %}
                            <label style="float:right;"><a href="/show_graph?ticker=zm&type={{ html_json.predicted_today_type }}">グラフ表示</a></label>
                            {% else %}
                            <label style="float:right;">グラフ表示</label>
                            {% endif %}
                            <label><a href="/create_csv">CSVのデータを作成</a></label>
                            <br><label><a href="/stats?ticker=zm&type={{ html_json.predicted_today_type }}">明日以降の動き予測</a></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>