<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Research the stock expected move</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="static_files/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static_files/css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="static_files/images/stock-img.jpg" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <h2>stock expected move research form</h2>
{% if html_json.message!='' %}
                        <div class="form-group">
                            <label><span style="color:red;">{{ html_json.message }}</span></label>
                            {% if html_json.message2!='' %}
                            <label><span style="color:red;">{{ html_json.message2 }}</span></label>
                            {% endif %}
                        </div>
{% endif %}
                        <div class="form-group">
                            <label for="ticker">Ticker :</label>
                            <div class="form-select">
                                <select name="ticker" id="ticker">
                                    <option value="zm">zm (ズーム・ビデオ・コミュニケーションズ)</option>
                                    <option value="aapl">Apple (現在実装中)</option>
                                    <option value="fb">Facebook (現在実装中)</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group" style="font-size: 11px; font-weight: normal">
                            <label style="font-size: 13px"><span>前日データ：</span></label>
                            <div style="margin-left: 20px;">
                                <span style="margin-right: 8px;">Type: <xyz style="color:red;font-size:12px;">{{ html_json.pre_type }}</xyz></span>
                                <span style="margin-right: 8px;">QQQ3: <xyz style="color:red;font-size:12px;">{{ html_json.pre_qqq }}</xyz></span>
                                <span style="margin-right: 8px;">NQ=F: <xyz style="color:red;font-size:12px;">{{ html_json.pre_nqf }}</xyz></span>
                                <span style="margin-right: 8px;">8:30: <xyz style="color:red;font-size:12px;">{{ html_json.pre_8_30 }}</xyz></span>
                                <span style="margin-right: 8px;">9:00sq: <xyz style="color:red;font-size:12px;">{{ html_json.pre_9_00_sq }}</xyz></span>
                                <span style="margin-right: 8px;">9:00zm: <xyz style="color:red;font-size:12px;">{{ html_json.pre_9_00_zm }}</xyz></span>
                                <span style="margin-right: 8px;">16:00: <xyz style="color:red;font-size:12px;">{{ html_json.pre_16_00 }}</xyz></span>
                                <span style="margin-right: 8px;">成行: <xyz style="color:red;font-size:12px;">{{ html_json.pre_nari }}</xyz></span><br>
                                <span style="margin-right: 8px;">Target: <xyz style="color:red;font-size:12px;">{{ html_json.pre_target }}</xyz></span>
                                <span style="margin-right: 8px;">基準: <xyz style="color:red;font-size:12px;">{{ html_json.pre_basis }}</xyz></span>
                                <span style="margin-right: 8px;">Momentum: <xyz style="color:red;font-size:12px;">{{ html_json.pre_momentum }}</xyz></span><br>
                                <span style="margin-right: 8px;">Memo: <xyz style="color:red;font-size:12px;">{{ html_json.pre_memo }}</xyz></span>
                                <span style="margin-right: 8px;">PER100: <xyz style="color:red;font-size:12px;">{{ html_json.pre_per }}</xyz></span><br>
                            </div>
                            <label style="font-size: 13px"><span>昨日の予測結果：</span></label>
                            <div style="margin-left: 20px;">
                                <span>株価動き(Type): <u style="color:red">Type{{ html_json.predicted_type }}</u> (実際の値:Type{{ html_json.real_type }})</span><br>
                                <span style="margin-right: 8px;">株価動き(底値): <u style="color:red;font-size:12px;">{{ html_json.pre_low_pos }}</u> (実際の値: {{ html_json.real_low_pos }})</span><br>
                                <span style="margin-right: 8px;">株価動き(高値): <u style="color:red;font-size:12px;">{{ html_json.pre_high_pos }}</u> (実際の値: {{ html_json.real_high_pos }})</span><br>
                            </div>
                            {% if html_json.form_submitted == True %}
                            <label style="font-size: 13px"><span>本日{{ html_json.today_date }}の予測結果：</span></label>
                            <div style="margin-left: 20px;">
                                <span>株価動き(Type): <u style="color:red">Type{{ html_json.predicted_today_type }}</u></span><br>
                                <span style="margin-right: 8px;">株価動き(底値): <u style="color:red;font-size:12px;">{{ html_json.predicted_today_low_pos }}</u></span><br>
                                <span style="margin-right: 8px;">株価動き(高値): <u style="color:red;font-size:12px;">{{ html_json.predicted_today_high_pos }}</u></span><br>
                                <button>結果をCOPY</button><button style="margin-left: 8px;">入力値をCOPY</button>
                            </div>
                            {% endif %}
                       </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_QQQ3">QQQ3.MI<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json._QQQ3 }}" name="_QQQ3" id="_QQQ3" required/>
                            </div>
                            <div class="form-group">
                                <label for="_NQ_F">Nasdaq100Fut<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json._NQ_F }}" name="_NQ_F" id="_NQ_F" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_8_30">8:30<span style="color:red;vertical-align:super;">*</span> :</label>
                                <input type="text" value="{{ html_json._8_30 }}" name="_8_30" id="_8_30" required/>
                            </div>
                            <div class="form-group">
                                <label for="_9_00">9:00<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json._9_00 }}" name="_9_00" id="_9_00" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="_9_00_sq">9:00(sq)<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json._9_00_sq }}" name="_9_00_sq" id="_9_00_sq" required/>
                            </div>
                            <div class="form-group">
                                <label for="momentum">Momentum<span style="color:red;vertical-align:super;">*</span>:</label>
                                <input type="text" value="{{ html_json.momentum }}" name="momentum" id="momentum" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">基準</label>
                            <div class="form-select">
                                <select name="price" id="price">
                                    <option value="高い" {% if html_json.price=='高い' %} selected="selected"{% endif %}>高い</option>
                                    <option value="高め" {% if html_json.price=='高め' %} selected="selected"{% endif %}>高め</option>
                                    <option value="中立" {% if html_json.price=='中立' %} selected="selected"{% endif %}>中立</option>
                                    <option value="安め" {% if html_json.price=='安め' %} selected="selected"{% endif %}>安め</option>
                                    <option value="安い" {% if html_json.price=='安い' %} selected="selected"{% endif %}>安い</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><span style="color:red;">※</span>入力値は日付が変わり、時間外市場が開くまで利便性の為保存されます。</label>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            {% if html_json.form_submitted == True %}
                            <label style="float:right;"><a href="/show_graph?ticker=zm&type={{ html_json.predicted_today_type }}">グラフ表示</a></label>
                            {% else %}
                            <label style="float:right;">グラフ表示</label>
                            {% endif %}
                            <label><a href="/create_csv">CSVのデータを作成</a></label>
                            <br><label><a href="/stats?ticker=zm&type={{ html_json.predicted_today_type }}">明日以降の動き予測</a></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>