<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Research the stock expected move</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="static_files/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static_files/css/style.css">
    <style>
        table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 11px;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 2px solid #333333;
}
table.greyGridTable thead th {
  font-size: 13px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 12px;
  font-weight: normal;
  color: #333333;
  border-top: 2px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 12px;
}
@media screen and (max-width: 480px) {
    #register-form {
        padding: 50px 25px 50px 15px;
    }
}
    </style>
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="static_files/images/market-image1.png" alt="">
                    <img src="static_files/images/market-image2.png" alt="">
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        <h2>明日以降の動きを予測します</h2>
{% if html_json.message!='' %}
                        <div class="form-group">
                            <label><span style="color:red;">{{ html_json.message }}</span></label>
                        </div>
{% endif %}
                        {% if html_json.form_submitted == True %}
                        <div class="form-group" style="font-size: 11px; font-weight: normal">
                            <label style="font-size: 13px"><span>明日の株価動き:</span></label>
                            <div style="margin-left: 20px;">
                                <div{% if html_json.past_data_closed_at == 'LargePlus' %} style="background-color: aquamarine;"{% endif %}>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:blue;">+2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:blue;">+0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[0] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[2] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[3] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[4] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[5] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:blue;">+2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkblue;">+0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[6] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[7] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[8] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[9] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[10] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[11] }}
                                        </nobr>
                                    </div> 
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:blue;">+2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkred;">-0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[12] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[13] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[14] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[15] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[16] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[17] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:blue;">+2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:red;">-0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[18] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[19] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[20] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[21] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[22] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[23] }}
                                        </nobr>
                                    </div>    
                                </div>
                                <div{% if html_json.past_data_closed_at == 'SmallPlus' %} style="background-color: aquamarine;"{% endif %}>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkblue;">+0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:blue;">+0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[24] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[25] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[26] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[27] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[28] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[29] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkblue;">+0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkblue;">+0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[30] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[31] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[32] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[33] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[34] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[35] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkblue;">+0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkred;">-0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[36] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[37] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[38] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[39] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[40] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[41] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkblue;">+0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:red;">-0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[42] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[43] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[44] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[45] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[46] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[47] }}
                                        </nobr>
                                    </div>
                                </div>
                                <div{% if html_json.past_data_closed_at == 'SmallMinus' %} style="background-color: aquamarine;"{% endif %}>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkred;">-0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:blue;">+0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[48] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[49] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[50] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[51] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[52] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[53] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkred;">-0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkblue;">+0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[54] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[55] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[56] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[57] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[58] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[59] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkred;">-0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkred;">-0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[60] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[61] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[62] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[63] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[64] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[65] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkred;">-0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:red;">-0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[66] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[67] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[68] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[69] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[70] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[71] }}
                                        </nobr>
                                    </div>
                                </div>
                                <div{% if html_json.past_data_closed_at == 'LargeMinus' %} style="background-color: aquamarine;"{% endif %}>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:red;">-2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:blue;">+0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[72] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[73] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[74] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[75] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[76] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[77] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:red;">-2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkblue;">+0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[78] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[79] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[80] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[81] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[82] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[83] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:red;">-2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkred;">-0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[84] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[85] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[86] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[87] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[88] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[89] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:red;">-2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:red;">-0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[90] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[91] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[92] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[93] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[94] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ html_json.predicted_by_pattern[95] }}
                                        </nobr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="font-size: 11px; font-weight: normal">
                            <label style="font-size: 13px"><span>明日の高値の位置: </span></label>
                            <div style="margin-left: 20px;">
                                <div{% if html_json.past_data_closed_at == 'LargePlus' %} style="background-color: aquamarine;"{% endif %}>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:blue;">+2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:blue;">+0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[0]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[1]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[2]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[3]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[4]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[5]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:blue;">+2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkblue;">+0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[6]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[7]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[8]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[9]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[10]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[11]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:blue;">+2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkred;">-0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[12]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[13]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[14]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[15]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[16]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[17]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:blue;">+2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:red;">-0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[18]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[19]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[20]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[21]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[22]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[23]-1] }}
                                        </nobr>
                                    </div>    
                                </div>
                                <div{% if html_json.past_data_closed_at == 'SmallPlus' %} style="background-color: aquamarine;"{% endif %}>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkblue;">+0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:blue;">+0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[24]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[25]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[26]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[27]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[28]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[29]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkblue;">+0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkblue;">+0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[30]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[31]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[32]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[33]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[34]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[35]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkblue;">+0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkred;">-0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[36]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[37]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[38]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[39]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[40]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[41]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkblue;">+0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:red;">-0.7%<wbr>イズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[42]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[43]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[44]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[45]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[46]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[47]-1] }}
                                        </nobr>
                                    </div>
                                </div>
                                <div{% if html_json.past_data_closed_at == 'SmallMinus' %} style="background-color: aquamarine;"{% endif %}>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkred;">-0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:blue;">+0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[48]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[49]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[50]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[51]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[52]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[53]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkred;">-0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkblue;">+0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[54]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[55]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[56]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[57]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[58]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[59]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkred;">-0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkred;">-0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[60]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[61]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[62]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[63]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[64]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[65]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:darkred;">-0.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:red;">-0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[66]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[67]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[68]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[69]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[70]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[71]-1] }}
                                        </nobr>
                                    </div>
                                </div>
                                <div{% if html_json.past_data_closed_at == 'LargeMinus' %} style="background-color: aquamarine;"{% endif %}>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:red;">-2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:blue;">+0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[72]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[73]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[74]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[75]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[76]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[77]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:red;">-2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkblue;">+0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[78]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[79]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[80]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[81]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[82]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[83]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:red;">-2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:darkred;">-0.3%</b><wbr>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[84]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[85]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[86]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[87]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[88]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[89]-1] }}
                                        </nobr>
                                    </div>
                                    <div><nobr>
                                        <span>今日の終値を<b style="font-weight:bold;color:red;">-2.5%</b>、明日の開始１時間前を<b style="font-weight:bold;color:red;">-0.7%<wbr>(ノイズ有)</b>と仮定した結果: </span><wbr>
                                        <span style="color:Aqua;padding-left:10px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[90]-1] }}
                                        <span style="color:Orange;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[91]-1] }}
                                        <span style="color:Gainsboro;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[92]-1] }}
                                        <span style="color:DarkGray;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[93]-1] }}
                                        <span style="color:GreenYellow;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[94]-1] }}
                                        <span style="color:Purple;padding-left:3px;font-size: 12px;">■</span>{{ ['9:30','10:00','13:30','16:00'][html_json.predicted_today_high_pos[95]-1] }}
                                        </nobr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="ticker">Ticker :</label>
                            <div class="form-select">
                                <select name="ticker" id="ticker">
                                    <option value="zm">zm (ズーム・ビデオ・コミュニケーションズ)</option>
                                    <option value="aapl">Apple (現在実装中)</option>
                                    <option value="fb">Facebook (現在実装中)</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="_10_00">今日の10:00時点の前日終値比<span style="color:red;vertical-align:super;">*</span> :</label>
                            <input type="text" value="{{ html_json._10_00 }}" name="_10_00" id="_10_00" style="width:40%;display:inline-block;" required/>
                            <span style="font-size: 10px; font-weight: normal;">(取引活性度を求める為に必要になります。)</span><br>
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" style="margin-top: 20px;" />
                            <input type="hidden" value="{{ html_json.today_type }}" name="today_type"/>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            {% if html_json.today_type == '' %}
                            <label style="float:right;">グラフ表示</label>
                            {% else %}
                            <label style="float:right;"><a href="/show_graph?ticker=zm&type={{ html_json.today_type }}">グラフ表示</a></label>
                            {% endif %}
                            <label style="margin-top: 5px;"><a href="/">TOPへ戻る</a></label>
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <label style="font-size: 13px"><span>過去の予測結果：</span></label>
                            <table class="greyGridTable">
                                <thead>
                                    <tr>
                                    <th></th>
                                    <th>予測結果</th>
                                    <th>実際の値</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>1日前</td>
                                    <td>{{ html_json.predicted_type[-1]}}</td>
                                    <td>{{ html_json.real_type[-1]}}</td>
                                    </tr>
                                    <tr>
                                    <td>2日前</td>
                                    <td>{{ html_json.predicted_type[-2]}}</td>
                                    <td>{{ html_json.real_type[-2]}}</td>
                                    </tr>
                                    <tr>
                                    <td>3日前</td>
                                    <td>{{ html_json.predicted_type[-3]}}</td>
                                    <td>{{ html_json.real_type[-3]}}</td>
                                    </tr>
                                    <tr>
                                    <td>4日前</td>
                                    <td>{{ html_json.predicted_type[-4]}}</td>
                                    <td>{{ html_json.real_type[-4]}}</td>
                                    </tr>
                                    <tr>
                                    <td>5日前</td>
                                    <td>{{ html_json.predicted_type[-5]}}</td>
                                    <td>{{ html_json.real_type[-5]}}</td>
                                    </tr>
                                    <tr>
                                    <td>6日前</td>
                                    <td>{{ html_json.predicted_type[-6]}}</td>
                                    <td>{{ html_json.real_type[-6]}}</td>
                                    </tr>
                                    <tr>
                                    <td>7日前</td>
                                    <td>{{ html_json.predicted_type[-7]}}</td>
                                    <td>{{ html_json.real_type[-7]}}</td>
                                    </tr>
                                    <tr>
                                    <td>8日前</td>
                                    <td>{{ html_json.predicted_type[-8]}}</td>
                                    <td>{{ html_json.real_type[-8]}}</td>
                                    </tr>
                                    <tr>
                                    <td>9日前</td>
                                    <td>{{ html_json.predicted_type[-9]}}</td>
                                    <td>{{ html_json.real_type[-9]}}</td>
                                    </tr>
                                    <tr>
                                    <td>10日前</td>
                                    <td>{{ html_json.predicted_type[-10]}}</td>
                                    <td>{{ html_json.real_type[-10]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="font-size: 7px;">(パターン4はパターン3とパターン5の中間の為、パターン3とパターン4、パターン4とパターン5は誤差が出やすくなります。)
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>